@model CivilianLicensePlate

@{
    ViewData["Title"] = "Vehicle Lookup";
}

<div class="text-center">
    <h1 class="display-4">Vehicle Lookup</h1>
    <hr />
    <form asp-action="platelookup" enctype="multipart/form-data" method="get" class="mt-2">
        <fieldset><legend>Plate Lookup</legend></fieldset>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">License Plate</label>
            <div class="col-sm-10">
                <input asp-for="LicensePlate" class="form-control" id="licensePlate" placeholder="Ex: 12AAA345" required />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <a asp-action="Create"><input class="btn btn-success" id="platelookup" type="submit" value="Search" /></a>
            </div>
        </div>
    </form>
    <a asp-controller="police" asp-action="civilian"><input id="PltButton" type="button" value="Search Civilian" class="btn btn-warning" /></a>

    <div style="padding-bottom: 15px;"></div>
    <center>
        <table class="table">
            <thead style="color: white;">
                <tr>
                    <th style="color: white; background-color: #131E28;">
                        <b>Vehicle Name</b>
                    </th>
                    <th style="color: white; background-color: #131E28;">
                        <b>Vehicle Color</b>
                    </th>
                    <th style="color: white; background-color: #131E28;">
                        <b>Additional Vehicle Details/Information</b>
                    </th>
                    <th style="color: white; background-color: #131E28;">
                        <b>Plate Owner</b>
                    </th>
                    <th style="color: white; background-color: #131E28;">
                        <b>License Plate</b>
                    </th>
                    <th style="color: white; background-color: #131E28;">
                        <b>Registration</b>
                    </th>
                    <th style="color: white; background-color: #131E28;">
                        <b>Insurance</b>
                    </th>
                    <th style="color: white; background-color: #131E28;">
                        <b>Additional</b>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="color: white;">
                        @ViewBag.vicN
                    </td>
                    <td style="color: white;">
                        @ViewBag.vicC
                    </td>
                    <td style="color: white;">
                        @ViewBag.vicAD
                    </td>
                    <td style="color: white;">
                        @ViewBag.pltO
                    </td>
                    <td style="color: white;">
                        @ViewBag.licPlate
                    </td>
                    <td style="color: white;">
                        @ViewBag.reg
                    </td>
                    <td style="color: white;">
                        @ViewBag.ins
                    </td>
                    <td style="color: white;">
                        @ViewBag.add
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</div>